@import url("https://fonts.googleapis.com/css?family=Montserrat");

:root {
  --red: rgb(186, 113, 78);
  --dark-grey: rgb(105, 98, 90);
  --brown: rgb(63, 47, 45);
  --coral: rgb(245, 224, 206);
  --light-grey: rgb(229, 227, 220);
  --green: rgb(79, 97, 48);
  --header-font: "montserrat";
}

g {
  transition: transform 1s, transform-origin 1s ease-in-out, opacity 1s;
  transform: scale(1);
  opacity: 1;
}

p h1 {
  font: montserrat;
}

/* For demo */
.ant-carousel .slick-slide {
  text-align: center;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}
